
section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.calculator {
    border: 2px solid #000;
    background: #1c1b1b;
    border-radius: 10px;
}

.result_area {
    width: 90%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 52px;
}

.interaction_zone {
    display: flex;
    padding: 5px;
}

.additional_part {
    display: flex;
    flex-direction: column;
}

.circle_button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 3px 2px 3px 2px;
    font-size: 20px;
    border: 0px;
}

.zero {
    width: 108px;
    height: 50px;
    border-radius: 50px;
    margin: 3px 2px 3px 2px;
    font-size: 20px;
    border: 0px;
}

.gray {
    background: #b8b0b0;
    font-weight: 500;
}

.orange {
    background: #e88e07;
    color: #fff;
    font-weight: 500;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

.select_theme {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 230px;
    height: 60px;
}

.btn_select_theme {
    background: none;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.dark {
    transition: 0.4s;
    background: #373f4a;
    color: #fff;
}

.dark_button {
    transition: 0.4s;
    color:#fff;
    background: #575553;
}

.dark_block {
    transition: 0.4s;
    background: #1c1b1b;
}



.light {
    transition: 0.4s;
    background: #fff;
    color: #000;
}

.light_button {
    transition: 0.4s;
    color: #000;
    background: #E0E0E0;
}

.light_block {
    transition: 0.4s;
    background: #d2d0d0;
}