body{
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    background-color: #000;
    height: auto;
}

._container{
    width: 1300px;
    margin: 0 auto;
}

.bg__main__screen{
    margin: 0 auto;
    height: 960px;
    background: url(../img/main-screen__bgc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header{
    display: flex;
    width: 1760px;
    padding-top: 38px;
    margin: 0 auto;
    align-items: center;
}

.menu__list{
    display: flex;
    margin-left: 522px;
    gap: 56px;
}
.menu__link{
    color: #FFFFFF;
    font-size: 16px;
}

.personal__area_button{
    margin-left: 270px;
    width: 183px;
    height: 44px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.main__screen__header{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: 188px; 
}
.main__screen_timer{
    margin-top: 55px;
}

.timer{
    display: flex;
}

.timer__item{
    width: 102px;
    height: 112px;
    background-color: #121212;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}

.timer__item:last-child{
    margin-right: 0px;
}

.timer__item h3{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
}

.timer__item span{
    margin-top: 10px;
    color: #FFFFFF;
    opacity: 0.4;
    font-size: 16px;
}

.guide__order{
    height: 130px;
    margin-top: 218px;
    background-color: #121212;
    display: flex;
    align-items: center;
}

.guide__order_content{
    display: flex;
    align-items: center;
}

.button__link{
    display: flex;
    width: 169px;
    height: 44px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;   
}

.guide_order_information{
    margin-left: 81px;
    
    width: 250px;
}

.guide__order_number_of_students{
    display: flex;
    justify-content: space-between;
}

.guide__order__completed__the__guide{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.guide__order_information__text{
    color: #FFFFFF;
    opacity: 0.4;
    font-size: 16px;
}

.guide__order_information__number{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.earned__by__students{
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.guide__order__money__indicator{
    margin-left: 80px;
}

.guide__order__indicator__line{
    margin-top: 10px;
}

.white__line{
    width: 714px;
    height: 6px;
    background-color: #FFFFFF;
}

.gradient__line{
    width: 440px;
    height: 6px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

.zero__to__one__hundred{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.main__content{
    margin-top: 200px;
}

.about__us{
    display: flex;
    justify-content: space-between;
}

.about__us__text{
    margin-top: 70px;
}

.about__us__text__title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 48px;
}

.about__us__text__text{
    display: block;
    margin-top: 45px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 25.6px;
}

.fast__start{
    margin-top: 230px;
}

.fast__start_title{
    display: flex;
    margin-left: 10px;
}

.fast__start__title__text{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 40px;
}

.fast__start__subtitle{
    margin-top: 50px;
}

.fast__start__subtitle span{
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 16px;
    line-height: 160%;
}

.fast__start__content{
    display: flex;
    margin-top: 80px;
}

._box{
    width: 324px;
}

._gradient{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.gradient__box{
    height: 80px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.fast__start__title__box{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
}

.gradient__box__100{
    height: 80px;
    flex-grow: 1;
}

.gradient__box__75{
    height: 60px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    flex-grow: 1;
}

.gradient__box__50{
    height: 30px;
    flex-grow: 1;
}

.gradient__box__total{
    height: 10px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    flex-grow: 1;
}

.fast__start__text__box{
    display: block;
    margin-top: 35px;
    color: #FFFFFF;
    opacity: 0.5;
    line-height: 160%;
}

.get__a__job__now{
    width: 1236px;
    margin: 0 auto;
}

.get__a__job__now{
    margin-top: 200px;
}

.get__a__job__now__title{
    text-align: center;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
}

._content__box{
    width: 358px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.get__a__job__now__content{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.get__a__job__now__content__title{
    margin-top: 60px;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    line-height: 140%;
}

.get__a__job__now__content__text{
    margin-top: 30px;
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
}